<div class="container mt-5">
    <h2>List of people</h2>
    <button class="btn btn-primary" (click)="onAddPersonClick()">Add</button>
    <table class="table">
        <thead>
            <!--🠕 🠗-->
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(0)">
                    Id {{(sortBy == 0) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(1)">
                    First Name {{(sortBy == 1) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(2)">
                    Last Name {{(sortBy == 2) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(3)">
                    Employment Date {{(sortBy == 3) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(4)">
                    Gender {{(sortBy == 4) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
            <th>
                <button class="btn btn-sm sort-control" (click)="onSort(5)">
                    City {{(sortBy == 5) ? ((sortDirection == 1) ? "🠕" : "🠗") : "‎ ‎"}}
                </button>
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let person of people">
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.employmentDate | date:'longDate' }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.city }}</td>
                <button class="btn warning btn-sm" (click)="onEditClick(person)">Edit</button>
                <button class="btn danger btn-sm" (click)="onDelete(person.id)">Delete</button>
            </tr>
        </tbody>
    </table>
    <!--Add form-->
    <div *ngIf="renderAddForm">
        <h2>Add person</h2>
        <form (ngSubmit)="onAdd(f)" #f="ngForm">
            <div class="form-group">
                <label>First name:</label>
                <input type="text" class="form-control" required ngModel name="firstName" />
            </div>
            <div class="form-group">
                <label>Last name:</label>
                <input type="text" class="form-control" required ngModel name="lastName" />
            </div>
            <div class="form-group">
                <label>Employment date:</label>
                <input type="text" class="form-control" required ngModel name="employmentDate" />
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <input type="text" class="form-control" required ngModel name="gender" />
            </div>
            <div class="form-group">
                <label>City:</label>
                <input type="text" class="form-control" required ngModel name="city" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <!--Edit form-->
    <div *ngIf="renderEditForm">
        <h2>Edit person #{{ edittedPerson?.id }}</h2>
        <form (ngSubmit)="onEdit(f)" #f="ngForm">
            <div class="form-group">
                <label>Id: {{ edittedPerson?.id }}</label>
            </div>
            <div class="form-group">
                <label>First name:</label>
                <input type="text" class="form-control" placeholder="{{edittedPerson?.firstName}}" ngModel name="firstName" />
            </div>
            <div class="form-group">
                <label>Last name:</label>
                <input type="text" class="form-control" placeholder="{{edittedPerson?.lastName}}" ngModel name="lastName" />
            </div>
            <div class="form-group">
                <label>Employment date:</label>
                <input type="text" class="form-control" placeholder="{{edittedPerson?.employmentDate | date:'longDate'}}" ngModel name="employmentDate" />
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <input type="text" class="form-control" placeholder="{{edittedPerson?.gender}}" ngModel name="gender" />
            </div>
            <div class="form-group">
                <label>City:</label>
                <input type="text" class="form-control" placeholder="{{edittedPerson?.city}}" ngModel name="city" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>